#content{
	width: 50%;
	margin:20px auto;
	border:1px solid #cbcbcb;
	margin-bottom: 50px;
}
form{
	width:50%;
	margin:20px auto;
}
form div{
	margin-top: 5px;
}
hr{
	width:80% auto;
	height: 2px solid red;
	margin-bottom: 30px;
}
#img_div{
	width:80%;
	padding: 5px;
	margin:15px auto;
	border:1px solid #cbcbcb;
}
#img_div:after{
	content:"";
	display:block;
	clear:both;
}
img{
	float: left;
	margin:5px;
	width:300px;
	height:140px;
}
.admin-add{
	margin:10px auto;
	border:none;
	text-align: center;
}
.success{
	border:1px solid #181918;
	display:inline-block;

}
.left {
    float: left;
    border-right: 2px solid green;
}
.right{
    float: left;
    margin-left: 20px;
}
.showcase-content{
	float:left;
}